.bibleget-textalign .button input {
    height: 0;
    width: 0;
}

.bibleget-textalign.button-group .bget.dashicons, .bibleget-textalign.button-group .bget.dashicons-before:before {
    vertical-align: text-bottom;
}
